@font-face {
  font-family: "Cheese-Shishi";
  src: url("/fonts/Cheee-Shishi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manrope";
  src: url("/fonts/Manrope-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BlackFriday";
  src: url("/fonts/BlackFriday.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "xcompany";
  src: url("/fonts/xcompany.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aloevera";
  src: url("/fonts/Aloevera.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "strezy";
  src: url("/fonts/strezy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-green: rgb(87, 159, 36);
  --color-yellow: #e8bd0f;
  --color-pink: #e8bd0f;
  --color-orange: #986fc1;
}

:root.dark-theme {
  --color-green: rgb(140, 187, 39);
  --color-yellow: #e8bd0f;
  --color-pink: blue;
  --color-orange: rgb(232, 189, 15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "manrope";
  font-style: normal;
  font-optical-sizing: auto;
  text-align: justify;

  margin: 0;
  padding: 0;
  height: 100%;

  box-sizing: border-box;

  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;

  /* outline: 3px solid blue; */

  height: 100%;

  margin: 80px;
}

body div {
  align-self: center;
}

strong {
  color: orange;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-family: "Cheese-Shishi";

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header div h2 {
  font-size: 130px;
  line-height: 130px;
  transform: translateY(195px);
  transition: transform 0.5s;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  color: #000000;

  font-size: 27px;
  line-height: 36px;
}

a:visited,
a:link,
a:active {
  color: rgb(239, 189, 228);
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: rgb(46, 218, 100);
  color: white;
}

span {
  display: inline-block;
}

.collage {
  display: flex;
  margin-top: -27px;
  margin: 0px;
}

.svg-wrapper {
  height: 100%;
  resize: both;
  overflow: auto;
  /* outline: 1px dashed #c91515; */
  grid-row: 1;
}

.svg {
  width: 100%;
  resize: both;
  overflow: auto;
}

.collage-row {
  display: inline-flex;
}

/* Tooltip container */
.tooltip-link {
  position: relative;
}

/* Tooltip background */
.tooltip-link::after {
  content: "";
  position: absolute;
  bottom: calc(100% - 10px);
  left: 90%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-image: url("title.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.tooltip-link:hover::after {
  display: block;
}

.tooltip-link .tooltip img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tooltip-1-link::after {
  background-image: url("title.svg");
}

.tooltip-web::after {
  bottom: calc(-800%);
  left: 90%;

  background-image: url("./media/description/web-gif.gif");
  z-index: 3;
}

.tooltip-developer::after {
  background-image: url("./media/description/front.gif");
  z-index: 3;
}

.tooltip-istanbul::after {
  background-image: url("./media/description/ist.gif");
  z-index: 3;
}

.tooltip-barcelona::after {
  bottom: calc(-900%);
  left: 90%;

  background-image: url("./media/description/barcelona.gif");
  z-index: 3;
}

.tooltip-fin::after {
  left: 90%;

  background-image: url("./media/description/fin.gif");
  z-index: 3;
}

.tooltip-joy::after {
  bottom: calc(200%);
  left: 100%;

  background-image: url("./media/description/joy.gif");
  z-index: 3;
}

.tooltip-who::after {
  background-image: url("./media/description/who.gif");
  z-index: 3;
}

.tooltip-connect::after {
  bottom: calc(200%);

  background-image: url("./media/description/connect.gif");
  z-index: 3;
}

.tooltip strong {
  transition: color 0.3s ease-in-out;
}

.tooltip-web strong {
  color: var(--color-orange);
}

.tooltip-tamara strong {
  color: var(--color-yellow);
}

.tooltip-developer strong {
  color: var(--color-pink);
}

.tooltip-istanbul strong {
  color: var(--color-pink);
}

.tooltip-barcelona strong {
  color: var(--color-green);
}

.tooltip-fin strong {
  color: var(--color-orange);
}

.tooltip-joy strong {
  color: var(--color-yellow);
}

.tooltip-connect strong {
  color: var(--color-orange);
}

@media only screen and (max-width: 1140px) {
  .collage {
    margin: 0px 120px;
  }
}

@media only screen and (max-width: 735px) {
  body {
    justify-items: center;
    margin: 40px;
    gap: 48px;
  }

  .header div h2 {
    font-size: 80px;
  }

  #text {
    font-size: 20px;
    line-height: 26px;
  }

  .collage {
    margin: 0px;
  }
}

/* Small screens */
@media only screen and (max-width: 490px) {
  body {
    gap: 57px;
    margin: 25px;
  }

  .header {
    margin-top: 0px;
  }

  #text {
    margin-top: -33px;
    font-size: 20px;
    line-height: 26px;
    width: 100%;
  }

  .header div h2 {
    font-size: 73px;
  }

  .collage {
    flex-direction: column-reverse;
    width: 100%;
  }

  .collage-row-2 {
    margin-top: -66px;
  }

  .svg-wrapper {
    width: 109px;
    height: 100%;
  }

  .collage-row-1 {
    margin-top: 0;
    order: 2;
  }

  .svg-wrapper-2 {
    order: 1;
  }
}

@keyframes customBackOut {
  0% {
    transform: scaleX(1) translateX(0);
  }
  30% {
    transform: scaleX(1.2) translateX(10px);
  }
  70% {
    transform: scaleX(0.9) translateX(-10px);
  }
  100% {
    transform: scaleX(1) translateX(0);
  }
}
