html,
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  text-align: justify;

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  height: 100%;

  font-size: 14px;
}

a {
  text-decoration: dotted;
  color: white;
}

a.email {
  color: #d6e95f;
}

body {
  min-height: 100%;
  margin: 0 60px;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  background-color: black;
  color: white;

  line-height: 21px;

  /* overflow: hidden; */
}

::selection {
  color: rgb(15 255 14);
  background: rgb(200, 90, 184);
}

.title {
  color: #d6e95f;
}

.link-row a:alinkediner {
  background: url(./arrow.svg) no-repeat;
  background-position-x: -16px;
  background-position-y: 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-bottom: -3px;
  opacity: 0;
  padding-top: 2px;
  transition: all 0.2s ease;
  width: 16px;
}

.link-row a:hover {
  cursor: pointer;

  font-style: italic;
}

.link-row a:hover:alinkediner {
  background-position-x: 0;
  background-position-y: 0;
  opacity: 1;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

canvas {
  display: block;
}

canvas:hover {
  cursor: pointer;
}

.info-container {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;

  grid-gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 18px;

  max-width: 540px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". mail mail mail"
    ". . github linkedin";
}

.email {
  grid-area: mail;
}

.linkedin {
  grid-area: linkedin;
}

.github {
  grid-area: github;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: grey;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(67, 23, 23);
    margin: 27px 27px;
  }

  /* .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  } */

  .info-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .info {
    max-width: unset;
  }

  canvas {
    position: absolute;
    top: 40%;
  }

  .bottom {
    flex-direction: column;
    gap: 70px;
  }
  /* 
  .links {
    position: absolute;
    bottom: 9px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "linkedin mail github";
  } */

  .links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .email {
    order: 2;
  }

  .github {
    order: 3;
  }
}

/* .dark-mode-button {
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  border: none;
  height: 20px;
  width: 20px;
  background-color: #d6e95f;
}

.dark-mode-button:hover {
  cursor: pointer;

  box-shadow: 0 0 10px 0px #d6e95f;
}

.dark-mode-button--dark {
  background-color: white;
} */
