html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  height: 100%;

  font-size: 14px;
}

a {
  text-decoration: none;
  color: #e78c4b;

  /* font-family: "Lekton", sans-serif;
  font-weight: 400;
  font-style: normal; */
}


a.email {
  color: rgb(191 162 245);
}

body {
  min-height: 100%;
  margin: 0 60px;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  background-color: white;

  overflow: hidden;
}

::selection {
  color: rgb(15 255 14);
  background: rgb(200, 90, 184);
}

.title {
  color: #f3ce00;
}

.link-row a:after {
  background: url(./arrow.svg) no-repeat;
  background-position-x: -16px;
  background-position-y: 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-bottom: -3px;
  margin-left: 6px;
  opacity: 0;
  padding-top: 2px;
  transition: all 0.2s ease;
  width: 16px;
}

.link-row a:hover {
  cursor: pointer;

  font-style: italic;
}

.link-row a:hover:after {
  background-position-x: 0;
  background-position-y: 0;
  opacity: 1;
}

canvas {
  display: block;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  width: 95%;

  line-height: 28px;

  margin-top: 35px;
}

#paragraph {
  flex: 1;
}

.links-container {
  flex: 1;

  display: flex;
  align-items: flex-start;
  gap: 70px;
  flex-direction: column;
}

.link-row {
  display: flex;
  gap: 10px;

  line-height: unset;
}

@media only screen and (max-width: 600px) {
  .bottom {
    flex-direction: column;
    gap: 20px;
  }

  #paragraph {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    margin: 40px;
  }
}
