@font-face {
  font-family: "Cheese-Shishi";
  src: url("/fonts/Cheee-Shishi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manrope";
  src: url("/fonts/Manrope-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-green: rgb(87, 159, 36);
  --color-yellow: #e8bd0f;
  --color-pink: #e386d2;
  --color-orange: #e86322;
}

:root.dark-theme {
  --color-green: rgb(140, 187, 39);
  --color-yellow: #e8bd0f;
  --color-pink: blue;
  --color-orange: rgb(232, 189, 15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(255, 255, 255);
  font-family: "manrope";
  font-style: normal;
  font-optical-sizing: auto;
  text-align: justify;

  margin: 0;
  padding: 0;
  height: 100%;

  box-sizing: border-box;

  overflow: hidden;
}

a {
  text-decoration: none;
}
body {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 34px; */

  display: grid;
  grid-template-rows: auto auto auto; /* Define three rows */
  gap: 10px; /* Set gap between grid items */
  justify-items: center;

  outline: 3px solid blue;

  height: 100%;
}

body div {
  align-self: center;
}

strong {
  color: orange;
}

.header {
  margin-top: 105px;

  color: rgb(0, 0, 0);
  font-family: "Cheese-Shishi";
}

#title {
  font-size: 150px;
  transition: all 1s cubic-bezier(0.3, 1.7, 0.7, 0.9);
  animation: customBackOut 0.7s cubic-bezier(0.3, 2, 0.7, 0.8) forwards;
}

@keyframes customBackOut {
  0% {
    transform: scaleX(1) translateX(0);
  }
  30% {
    transform: scaleX(1.2) translateX(10px);
  }
  70% {
    transform: scaleX(0.9) translateX(-10px);
  }
  100% {
    transform: scaleX(1) translateX(0);
  }
}

#text {
  /* margin: 0 200px; */
  width: 60%;
  color: #000000;

  font-size: 22px;
  line-height: 28px;
  /* outline: 3px solid red; */
}

a:visited,
a:link,
a:active {
  color: rgb(239, 189, 228);
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: rgb(46, 218, 100);
  color: white;
}

span {
  display: inline-block;
}

.collage {
  display: flex;
  margin-top: -27px;
}

.svg-wrapper {
  height: 100%;
  resize: both;
  overflow: auto;
  /* outline: 1px dashed #c91515; */
  grid-row: 1;
}

.svg {
  width: 100%;
  resize: both;
  overflow: auto;
}

.collage-row {
  display: inline-flex;
}

/* Tooltip container */
.tooltip-link {
  position: relative;
}

/* Tooltip background */
.tooltip-link::after {
  content: "";
  position: absolute;
  bottom: calc(100% - 10px);
  left: 90%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-image: url("title.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.tooltip-link:hover::after {
  display: block;
}

.tooltip-link .tooltip img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tooltip-1-link::after {
  background-image: url("title.svg");
}

.tooltip-web::after {
  bottom: calc(-800%);
  left: 90%;

  background-image: url("./media/description/web-gif.gif");
  z-index: 3;
}

.tooltip-developer::after {
  background-image: url("./media/description/front.gif");
  z-index: 3;
}

.tooltip-istanbul::after {
  background-image: url("./media/description/ist.gif");
  z-index: 3;
}

.tooltip-barcelona::after {
  bottom: calc(-900%);
  left: 90%;

  background-image: url("./media/description/barcelona.gif");
  z-index: 3;
}

.tooltip-fin::after {
  left: 90%;

  background-image: url("./media/description/fin.gif");
  z-index: 3;
}

.tooltip-joy::after {
  bottom: calc(200%);
  left: 100%;

  background-image: url("./media/description/joy.gif");
  z-index: 3;
}

.tooltip-who::after {
  background-image: url("./media/description/who.gif");
  z-index: 3;
}

.tooltip-connect::after {
  bottom: calc(200%);

  background-image: url("./media/description/connect.gif");
  z-index: 3;
}

.tooltip strong {
  transition: color 0.3s ease-in-out;
}

.tooltip-web strong {
  color: var(--color-orange);
}

.tooltip-tamara strong {
  color: var(--color-yellow);
}

.tooltip-developer strong {
  color: var(--color-pink);
}

.tooltip-istanbul strong {
  color: var(--color-pink);
}

.tooltip-barcelona strong {
  color: var(--color-green);
}

.tooltip-fin strong {
  color: var(--color-orange);
}

.tooltip-joy strong {
  color: var(--color-yellow);
}

.tooltip-connect strong {
  color: var(--color-orange);
}

@media only screen and (max-width: 790px) {
  #text {
    font-size: 20px;
    line-height: 26px;
  }

  #title {
    font-size: 120px;
  }
}

/* Small screens */
@media only screen and (max-width: 493px) {
  .header {
    margin-top: 0px;
    align-self: end;
  }

  body {
    grid-template-rows: 1fr 2fr auto;
  }

  #text {
    font-size: 18px;
    line-height: 22px;
    width: 80%;
  }

  #title {
    font-size: 70px;
  }

  .collage {
    margin-top: -27px;
    flex-direction: column-reverse;
    align-self: end;
  }

  .collage-row-2 {
    margin-top: -66px;
  }

  .svg-wrapper {
    width: 140px;
    height: 100%;
  }

  .collage-row-1 {
    margin-top: 0;
    order: 2;
  }

  .svg-wrapper-2 {
    order: 1;
  }
}

a {
  text-decoration: none;
  color: #74bd1e;
}
