html,
body {
  font-family: sans-serif; /* Use system font */

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
}

canvas {
  display: block;
}

.sliders {
  -webkit-appearance: none;
}

.sliders::-webkit-slider-runnable-track {
  background: #e8e0d6;
  height: 6px;
}

.sliders::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e68407;
  margin-top: -4px;
}

.bottom {
  width: 90vw;
  display: flex;
  justify-content: space-between;

  margin-left: 100px;

  position: absolute;
  left: 10px; /* Adjusted position to be 10px from the left */
  bottom: 10%; /* Adjusted position to be 90% from the top */
}

#paragraph {
  flex: 1;
  font-size: 22px;
}

.links-container {
  flex: 2;
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;

  margin-right: 20%;
}

.link {
  display: block;
  border: 3px solid #f1e439;
  border-radius: 29px;
  width: 240px;
  height: 61px;

  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;


  display: flex;
  align-items: center;
  justify-content: center;

}

.link:hover{
  background-color: #f1e439;
  animation-play-state: paused; /* Pause animation on hover */

} 

.link:nth-child(1) {
  animation-name: floating1;

  animation-duration: 4s;
}

.link:nth-child(2) {
  animation-name: floating2;

  animation-duration: 5s;
}

.link:nth-child(3) {
  animation-name: floating3;

  animation-duration: 3s;
}

@keyframes floating1 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(5deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(-10deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(10deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes floating2 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(10%, 10%) rotate(10deg);
  }
  50% {
    transform: translate(-10%, 5%) rotate(-5deg);
  }
  75% {
    transform: translate(5%, 0%) rotate(-15deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes floating3 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(-5%, 10%) rotate(-15deg);
  }
  50% {
    transform: translate(15%, 5%) rotate(5deg);
  }
  75% {
    transform: translate(0%, -10%) rotate(10deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
